<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>573607990575-r35akm0g95hdrcj4iuaqh9kjdo3hatv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573607990575-r35akm0g95hdrcj4iuaqh9kjdo3hatv9</string>
	<key>API_KEY</key>
	<string>AIzaSyDJNYYCWQPhP5sCv3Jbc-F_rgwKFiSaUtE</string>
	<key>GCM_SENDER_ID</key>
	<string>573607990575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MariaBeutel.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>photoclip-20b9c</string>
	<key>STORAGE_BUCKET</key>
	<string>photoclip-20b9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573607990575:ios:7d99771a38ba227f</string>
	<key>DATABASE_URL</key>
	<string>https://photoclip-20b9c.firebaseio.com</string>
</dict>
</plist>